* text=auto
*.py text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.csv text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.pptx binary
*.xlsx binary
*.xls binary
*.mdb binary
*.accdb binary
*.adp binary
